        body {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        html,
        body {
            margin: 0px;
        }
        
        body {
            height: 100vh;
            font-family: arial;
        }
        
        li:hover {
            cursor: pointer;
            text-decoration: underline;
            color: rgb(53, 53, 53);
        }
        
        #nav {
            font-size: 14px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: 99vw;
            color: rgb(88, 88, 88);
            padding-top: 8px;
        }
        
        #nav li {
            list-style-type: none;
            padding: 10px 8px 10px 8px;
        }
        
        #nav img {
            height: 30px;
            border-radius: 100px;
        }
        
        #main {
            display: flex;
            width: 99vw;
            height: 50vh;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        #main img {
            padding: 30px;
        }
        
        #search {
            font-size: 16px;
            width: 35vw;
            height: 40px;
            border-radius: 40px;
            border: 0.5px solid rgb(218, 218, 218);
            padding-left: 50px;
        }
        
        #search:hover {
            box-shadow: 0px 2px 5px rgb(155, 155, 155);
        }
        
        #search:focus {
            outline: none !important;
        }
        
        .search {
            position: relative;
        }
        
        #glass {
            opacity: 0.5;
            font-size: 20px;
            position: absolute;
            left: 15px;
            top: 12px;
        }
        
        #mic {
            opacity: 0.5;
            font-size: 20px;
            position: absolute;
            right: 15px;
            top: 12px;
        }
        
        .buttons {
            margin-top: 20px;
        }
        
        .buttons>* {
            font-size: 14px;
            color: rgb(63, 63, 63);
            background-color: rgb(243, 243, 243);
            padding: 10px 15px 10px 15px;
            margin: 5px;
            border: 0;
            border-radius: 5px;
        }
        
        .buttons>*:hover {
            cursor: pointer;
            box-shadow: 0px 0px 8px -5px #000000;
        }
        
        .end {
            position: absolute;
            bottom: 0;
            background-color: rgb(236, 236, 236);
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            border: 0;
            font-size: 14px;
            color: rgb(129, 129, 129);
        }
        
        .end p {
            padding: 0px 25px 0px 25px
        }
        
        #endmain {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
        
        #endmain>* {
            padding: 15px 25px 15px 25px;
        }
        
        #endmain div {
            display: flex;
        }
        
        #endmain div li {
            list-style-type: none;
            padding-right: 20px;
        }